    <!-- About Section -->
    <section class="success" id="om">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Om Oss</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1">
                    <p>
                      Gruppen består av fem bachelorstudenter som alle studerer programmering hos Westerdals OACT (Campus Galleriet). Gjennom studieforløpet har vi vært borti mange ulike teknologier, hovedsakelig innenfor back-end. <br><br>Vi har også erfaring innenfor front-end, noe som gjør oss til en faglig sterk gruppe. Siden ingen av oss har studert interaksjonsdesign, er vi ikke så sterke på design, og ønsker derfor ikke å arbeide med grensesnittdesign.
                    </p>
                </div>
                <div class="col-lg-5">
                    <p>
                      Vi har et sterkt ønske om å lære mer og å utvikle oss, noe som gjør at alle har prestert godt i tidligere prosjekter på skolen. Dette kommer til syne på hver enkelt profilside, hvor man kan se vedkommende sine karakterer, samt et gjennomsnitt per fag.
                      <br><br>Gruppen drives av et ønske om å utvikle seg både faglig og sosialt, og vi omfavner utfordringer.
                    </p>
                </div>
            </div>
        </div>
    </section>
 
