    <!-- Footer -->
    <footer class="text-center" id="kontakt">
	        <div class="footer-above">
            <div class="container">
              <div class="row">
                  <div class="col-lg-12 text-center">
                      <h2>Kontakt oss</h2>
                      <hr class="star-blue">
                  </div>
              </div>
              <div class="row">
                  <div class="footer-col col-md-12">
                      <h3>Vi vil veldig gjerne høre fra deg!</h3>
                      <p><a href="mailto:kontakt@hovedprosjekt.no">kontakt@hovedprosjekt.no</a>
                      <br><br><a href="tel:+4746851173">(+47) 468 51 173</a></p>
                  </div>
              </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Hovedprosjekt.no - laget av tidenes beste hovedprosjektgruppe!
                    </div>
                </div>
            </div>
        </div>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
