        <!-- About Section -->
        <section class="success" id="mal">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Vårt mål</h2>
                        <hr class="star-light">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1">
                        <p>
                          Vi ønsker oss en spennende utfordring som tester våre ferdigheter, samt bidrar til å løse en reell problemstilling for din bedrift.<br> <br>Løsningen vi leverer skal ha høy kvalitet, og bedriften skal kunne benytte seg av sluttproduktet.
                        </p>
                    </div>
                    <div class="col-lg-5">
                        <p>
                          Gruppen består av faglig sterke utviklere med høye ambisjoner og solid teknisk kompetanse, arbeidserfaring og egne prosjekter.<br><br>                          Vårt mål er å sørge for at din bedrift sitter igjen med et solid produkt og gode erfaringer med oss som gruppe.

                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p>
                        </p>
                    </div>
                </div>
            </div>
        </section>

