        <!-- Portfolio Grid Section -->
        <section id="gruppen">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>GRUPPEN</h2>
                        <hr class="star-primary">
                    </div>
                </div>
                <div class="container">

                    <div class="row">
                      <div class="col-sm-push-6 col-sm-6">
                          <img src="img/fredrick-front.jpg" class="img-responsive img-centered" alt="">
                      </div>
                        <div class="col-sm-pull-6 col-sm-6">
                            <div class="clearfix"></div>
                            <h2 class="section-heading">Fredrick Biering</h2>
                            <p class="lead">Analytisk og effektiv. En dødelig kombinasjon.
                            <br><a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">Les mer om Fredrick her</a></p>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                          <img src="img/idar-front.jpg" class="img-responsive img-centered" alt="">
                            </div>
                        <div class="col-sm-6">
                          <div class="clearfix"></div>
                          <h2 class="section-heading">Idar Vassdal</h2>
                          <p class="lead">Spiser Ruby og togskinner til frokost.
                          <br><a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">Les mer om Idar her</a></p>
                        </div>
                    </div>

                    <div class="row">

                      <div class="col-sm-push-6 col-sm-6">
                          <img src="img/jonas-front.jpg" class="img-responsive img-centered" alt="">
                      </div>
                        <div class="col-sm-pull-6 col-sm-6">
                            <div class="clearfix"></div>
                            <h2 class="section-heading">Jonas Jensen</h2>
                            <p class="lead">Drømmer om patterns og modeller.
                            <br><a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">Les mer om Jonas her</a></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                          <img src="img/kirstine-front.jpg" class="img-responsive img-centered" alt="">
                        </div>
                        <div class="col-sm-6">
                          <div class="clearfix"></div>
                          <h2 class="section-heading">Kirstine Gyring</h2>
                          <p class="lead">Elsker backend og arkitektur, og har en lidenskap for ledelse.
                            <br><a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">Les mer om Kirstine her</a></p>
                        </div>
                    </div>
                    <div class="row">

                      <div class="col-sm-push-6 col-sm-6">
                          <img src="img/martin-front.jpg" class="img-responsive img-centered" alt="">
                      </div>
                        <div class="col-sm-pull-6 col-sm-6">
                            <h2 class="section-heading">Martin Ingesen</h2>
                            <p class="lead">Brennende opptatt av IT-sikkerhet og elsker utvikling.<br><a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">Les mer om Martin her</a></p>
                        </div>
                    </div>

                </div>

            </div>
        </section>

