     <!-- Portfolio Modals -->
    <div class="portfolio-modal modal" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="Lukk-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Fredrick Biering</h2>
                            <hr class="star-primary">
                            <img src="img/fredrick-square.jpg" class="img-responsive img-centered img-circle" alt="">
                            <h3>Om meg</h3>
                            <hr class="star-primary">
                            <p>
                              <small>
                                Jeg er en blid og nysgjerrig fyr som brenner for utvikling, og anser programmering som en ideell kombinasjonen av kreativitet og problemløsning.

                                Jeg liker å løse problemer og utfordringer, samt sørge for at det leveres robuste løsninger med god kvalitet. I tillegg er jeg opptatt av kontinuerlig iterasjon på løsninger, og ser alltid etter muligheter for forbedring.
                              </small>
                            </p>
                            <p><b>Nøkkelegenskaper:</b></p>
                            <p>
                            <small>Brenner for utvikling og teknologi.<br>
                            Lærevillig og sterk motivasjon for kontinuerlig forbedring av egne ferdigheter.<br>
                            Pålitelig.<br>
                            Sterk arbeidsmoral.<br>
                            Bug hunter extraordinaire.</small></p>
                            <br>
                            <h3>Arbeidserfaring</h3>
                            <hr class="star-primary">
                            <ul class="list-inline item-details">
                                <li>
                                    <strong>07.2015 - nåværende
                                    </strong>
                                </li>
                                <li>
                                    <strong>Systemutvikler og konsulent
                                    </strong>
                                </li>
                                <li>
                                    <strong>Earlywarning Solutions AS
                                    </strong>
                                </li>
                            </ul>
                            <h3>Tidligere prosjekter</h3>
                            <hr class="star-primary">
                            <p>
                              <small>
                                Hovedansvarlig utvikler i prosjektet "<a href="http://intrinsicvaluehelper.com">IntrinsicValueHelper.com</a>", hvilket er et evaluerings- og analyseverktøy for børsnoterte selskaper.<br><br>
                                Webutvikler i prosjektet "<a href="https://threatalert.me">ThreatAlert.me</a>". ThreatAlert er en plattform hvor brukere mottar varsler i sanntid om sårbarheter i programvare de er interessert i (under utvikling).<br><br>
                                Webutvikler i første iterasjon av studentportalen for Studentsamfunnet til Westerdals Oslo School of Art, Communication and Technology under sommeren 2014.
                              </small>
                            </p>
                            <h3>Personlige interesser</h3>
                            <hr class="star-primary">
                            <p>
                              <small>Utvikling av programvare, hovedsaklig web- og mobilapplikasjoner.<br><br>
                              Ivrig leser av bøker dedikert til fantasy og sci-fi sjangeren.
                              </small>
                            </p>
                            <h3>Karakterer</h3>
                            <hr class="star-primary">
                            <div class="row-fluid">
                              <div class="span12">
                                  <small>(Blå er mine karakterer, den grå linjen er snittet i klassen.)</small>
                                  <canvas id="fredrick-karakterer"></canvas>
                              </div>
                            </div>

                            <h3>Vil du vite mer om meg?</h3>
                            <hr class="star-primary">
                            <p>
                              Du finner meg også på <a href="https://no.linkedin.com/in/fredrickbiering"><i class="fa fa-fw fa-linkedin-square"></i>LinkedIn</a>
                            </p>

                            <br>
                            <br>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Lukk</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="Lukk-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Idar Vassdal</h2>
                            <hr class="star-primary">
                            <img src="img/idar-square.jpg" class="img-responsive img-centered img-circle" alt="">
                            <h3>Om meg</h3>
                            <hr class="star-primary">

                            <p><b>Egenskaper:</b></p>
                            <p>
                              <small>Jeg er en ambisiøs programmerer som digger det jeg holder på med.<br>
Jeg er en sosial person, og lærer mest av å jobbe med andre.<br>
Har det med å finne det gode i det dårlige, og det dårlige i det gode.<br>
Har alltid hatt god arbeidsmoral, og liker utfordringer .<br>
</small>
                            <br>
                            <h3>Arbeidserfaring</h3>
                            <hr class="star-primary">
                            <ul class="list-inline item-details">
                                <li>
                                    <strong>08.01.2015 - Nåværende
                                    </strong>
                                </li>
                                <li>
                                    <strong>Veileder i programmeringsfag
                                    </strong>
                                </li>
                                <li>
                                    <strong>Westerdals ACT
                                    </strong>
                                </li>
                            </ul>
                            <ul class="list-inline item-details">
                                <li>
                                    <strong>10.06.2015 - 29.08.2015
                                    </strong>
                                </li>
                                <li>
                                    <strong>Programmerer
                                    </strong>
                                </li>
                                <li>
                                    <strong>Tindevindu AS
                                    </strong>
                                </li>
                            </ul>
                            <h3>Personlige interesser</h3>
                            <hr class="star-primary">
                            <p>
                              <small>Liker å være i naturen.<br>
                              Stor lidenskap for de fleste typer musikk, spiller gitar.<br>
                              Engasjert i spill og e-sport.<br>
                              </small>
                            </p>
                            <h3>Karakterer</h3>
                            <hr class="star-primary">
                            <div class="row-fluid">
                              <div class="span12">
                                  <small>(Blå er mine karakterer, den grå linjen er snittet i klassen.)</small>
                                  <canvas id="idar-karakterer"></canvas>
                              </div>
                            </div>

                            <h3>Vil du vite mer om meg?</h3>
                            <hr class="star-primary">
                            <p>
                              Du finner meg også på <a href="https://www.linkedin.com/in/idarv"><i class="fa fa-fw fa-linkedin-square"></i>LinkedIn</a>
                            </p>

                            <br>
                            <br>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Lukk</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="Lukk-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Jonas Jensen</h2>
                            <hr class="star-primary">
                            <img src="img/jonas-square.jpg" class="img-responsive img-centered" alt="">
                            <h3>Om meg</h3>
                            <hr class="star-primary">
                            <p>

                            <small>
Samspillet mellom samfunnsutvikling og teknologi har siden barndommen av fascinert meg.<br>
Jeg tar del i denne leken mellom samfunnets og teknologiens fremvekst ved å tilegne meg ny kunnskap innenfor utvikling,
utvikle ferdighetene mine i programmering og ved å konstant se bortenfor horisonten.<br><br>
Med enorm lærelyst, læreevne og kunnskapstørst har jeg ambisjoner om å kunne utgjøre en forskjell i verden via innovative idéer og smarte forbedringer.<br>
For nytenkning og forandring bidrar til å forbedre den teknologiske verdenen. Forandring fryder - og jeg mener jeg kan bidra til den forandringen.<br>
                            </small>

                          </p>
                            <br>
                            <h3>Arbeidserfaring</h3>
                            <hr class="star-primary">
                            <ul class="list-inline item-details">
                                <li>
                                    <strong>07.2014 - 04.2015
                                    </strong>
                                </li>
                                <li>
                                    <strong>Studentveileder i programmerings- og databasefag
                                    </strong>
                                </li>
                                <li>
                                    <strong>Westerdals ACT
                                    </strong>
                                </li>
                            </ul>
                            <ul class="list-inline item-details">
                                <li>
                                    <strong>12.2012 - 07.2013
                                    </strong>
                                </li>
                                <li>
                                    <strong>IT-konsulent og førstelinjesupport
                                    </strong>
                                </li>
                                <li>
                                    <strong>Forbrukerrådet
                                    </strong>
                                </li>
                            </ul>
                            <ul class="list-inline item-details">
                                <li>
                                    <strong>06.2011 - 12.2012
                                    </strong>
                                </li>
                                <li>
                                    <strong>Førstelinjesupport/lærling, resulterte i fagbrev
                                    </strong>
                                </li>
                                <li>
                                    <strong>Forbrukerrådet
                                    </strong>
                                </li>
                            </ul>
                            <h3>Personlige interesser</h3>
                            <hr class="star-primary">
                            <p>
                              <small>Softwareutviking, spesielt glad i fullstack-prosjekter.<br>
                              God litteratur, gjerne russiske klassikere.<br>
                              Spill i alle forskjellige formater; jo mer sosialt, jo bedre.<br>
                              </small>
                            </p>
                            <h3>Karakterer</h3>
                            <hr class="star-primary">
                            <div class="row-fluid">
                              <div class="span12">
                                  <small>(Blå er mine karakterer, den grå linjen er snittet i klassen.)</small>
                                  <canvas id="jonas-karakterer"></canvas>
                              </div>
                            </div>

                            <h3>Vil du vite mer om meg?</h3>
                            <hr class="star-primary">
                            <p>
                              Du finner meg også på <a href="https://no.linkedin.com/in/j0nas"><i class="fa fa-fw fa-linkedin-square"></i>LinkedIn</a>
                            </p>

                            <br>
                            <br>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Lukk</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="Lukk-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Kirstine Gyring</h2>
                            <hr class="star-primary">
                            <img src="img/kirstine-square.jpg" class="img-responsive img-centered img-circle" alt="">
                            <h3>Om meg</h3>
                            <hr class="star-primary">

                            <p><b>Om meg:</b></p>
                            <p>
                              <small>
                                Jeg er en utadvendt og sosial student, som brenner for teknologi. Sterke sider ved meg er stort fokus på detaljer og et perfekt resultat, og at jeg tilegner meg nye kunnskaper hurtig. Jeg arbeider hardt med prosjekter, da jeg elsker å lære mer og utvikle meg. I min verden finnes det ikke noe som heter “å gjøre noe halvferdig”.
<br><br>
                                Min lidenskap for programmering kom da jeg startet med baheloren på Westerdals OACT. Til tross for min snevre erfaring før studiestart, har jeg med skole og arbeidserfaring tilegnet meg bred erfaring innen IT-faget.
<br><br>
                                Jeg elsker utfordringer og ansvar. Min rolle i et prosjekt er gjerne å være et bindeledd mellom kunde og teknisk leverandør, for eksempel som teamleder.
<br>
                              </small>
                            <br>
                            <h3>Arbeidserfaring</h3>
                            <hr class="star-primary">
                            <ul class="list-inline item-details">
                                <li>
                                    <strong>06.2014 - nåværende
                                    </strong>
                                </li>
                                <li>
                                    <strong>Technical Writer og Pureservice Customer Success
                                    </strong>
                                </li>
                                <li>
                                    <strong>Syscom AS
                                    </strong>
                                </li>
                            </ul>

                            <ul class="list-inline item-details">
                                <li>
                                    <strong>04.2013 - 06.2014
                                    </strong>
                                </li>
                                <li>
                                    <strong>Telenoreksperten
                                    </strong>
                                </li>
                                <li>
                                    <strong>Telenor Fornebu (2.linje support med betalt support)
                                    </strong>
                                </li>
                            </ul>
                            <ul class="list-inline item-details">
                                <li>
                                    <strong>08.2013 - 12.2013
                                    </strong>
                                </li>
                                <li>
                                    <strong>Veileder i databasefag
                                    </strong>
                                </li>
                                <li>
                                    <strong>Westerdals ACT
                                    </strong>
                                </li>
                            </ul>
                            <h3>Personlige interesser</h3>
                            <hr class="star-primary">
                            <p>
                              <small>Trening, spesielt styrketrening og sykling.<br>
Dans, alt fra ballett til street dance.<br>
Dyrevelferd.<br>
Musikk, spiller flere instrumenter og synger.<br>
                              </small>
                            </p>
                            <h3>Karakterer</h3>
                            <hr class="star-primary">
                            <div class="row-fluid">
                              <div class="span12">
                                  <small>(Blå er mine karakterer, den grå linjen er snittet i klassen.)</small>
                                  <canvas id="kirstine-karakterer"></canvas>
                              </div>
                            </div>

                            <h3>Vil du vite mer om meg?</h3>
                            <hr class="star-primary">
                            <p>
                              Du finner meg også på <a href="https://no.linkedin.com/pub/kirstine-gyring/1b/4b9/b05"><i class="fa fa-fw fa-linkedin-square"></i>LinkedIn</a>
                            </p>

                            <br>
                            <br>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Lukk</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="Lukk-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Martin Ingesen</h2>
                            <hr class="star-primary">
                            <img src="img/martin-square.jpg" class="img-responsive img-centered img-circle" alt="">
                            <h3>Om meg</h3>
                            <hr class="star-primary">

                            <p><b>Egenskaper:</b></p>
                            <p>
                              <small>Jeg er en resultatorientert og handlekraftig utvikler som elsker programmering og sikkerhet.<br><br>
                                Med en <i>"spennende"</i> bakgrunn innen PHP har jeg en sterk preferanse mot serverside-utvikling. Jeg finner det lett å tilegne meg ny kunnskap og benytte det i prosjekter.<br><br>
                                Jeg driver med forskning på sikkerhet ved siden av studiene, og har funnet sikkerhetshull og svakheter hos NSB, Dagens Næringsliv, E-Billett, Amedia, Schibsted med fler.
                              </small>
                            <br>
                            <h3>Arbeidserfaring</h3>
                            <hr class="star-primary">
                            <ul class="list-inline item-details">
                                <li>
                                    <strong>01.06.2015 - 01.08.2015
                                    </strong>
                                </li>
                                <li>
                                    <strong>Summer intern
                                    </strong>
                                </li>
                                <li>
                                    <strong>Kongsberg Gruppen
                                    </strong>
                                </li>
                            </ul>
                            <ul class="list-inline item-details">
                                <li>
                                    <strong>01.08.2014 - 01.06.2015
                                    </strong>
                                </li>
                                <li>
                                    <strong>Studentveileder i Prog 1, 2, Databaser og IT-sikkerhet.
                                    </strong>
                                </li>
                                <li>
                                    <strong>Westerdals ACT
                                    </strong>
                                </li>
                            </ul>
                            <h3>Personlige interesser</h3>
                            <hr class="star-primary">
                            <p>
                              <small>Liker å løpe orientering.<br>
                              Klimprer på gitaren min i ny og ne.<br>
                              Hacking (på den gode måten).<br>
                              </small>
                            </p>
                            <h3>Karakterer</h3>
                            <hr class="star-primary">
                            <div class="row-fluid">
                              <div class="span12">
                                  <small>(Blå er mine karakterer, den grå linjen er snittet i klassen.)</small>
                                  <canvas id="martin-karakterer"></canvas>
                              </div>
                            </div>

                            <h3>Vil du vite mer om meg?</h3>
                            <hr class="star-primary">
                            <p>
                              Du finner meg også på <a href="https://no.linkedin.com/in/martiningesen"><i class="fa fa-fw fa-linkedin-square"></i>LinkedIn</a>
                            </p>

                            <br>
                            <br>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Lukk</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
